/*--------------------*/
/* max-width: 1023px*/
/*--------------------*/
@media only screen and (max-width: 1023px)
{
    .hero-text-box h1
    {
        font-weight: 300;
        font-size: 183%;
    }
}

/*--------------------*/
/* max-width: 767px*/
/*--------------------*/
@media only screen and (max-width: 768px)
{
    .hero-text-box h1
    {
        font-weight: 300;
        font-size: 110%;
    }

    a
    {
        font-size: 12px;
    }

}

/*--------------------*/
/* max-width: 480px*/
/*--------------------*/
@media only screen and (max-width: 480px)
{
    .hero-text-box h1
    {
        font-weight: 300;
        font-size: 105%;
    }

    a
    {
        font-size: 8px;
    }  
   
}