/*--------------------*/
/* global*/
/*--------------------*/
*
{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    color: rgb(136, 136, 136);
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.row
{
    max-width:80%;
    margin: 0 auto;
}

section
{
    padding: 40px 0;
}

h1, h2, h3
{
    color: black;
    text-transform: uppercase;
    
}

h1
{
    font-size: 240%;
    margin-top: 0;
    margin-bottom: 25px;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2
{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3
{
    font-size: 91%;
    margin-bottom: 15px;
}

h2:after
{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h4
{
    color: rgb(71, 71, 71);
}

header
{
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, .5)), url(../img/food/tapEx.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


/*--------------------*/
/* main  ----------*/
/*--------------------*/
.hero-text-box
{
    
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box h1
{
    font-weight: 300;
}


/*--------------------*/
/* btn  ----------*/
/*--------------------*/
.btn:link,
.btn:visited,
input[type=submit]
{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: color 0.2s, border 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit]
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #e67e22;
    color:  #e67e22;
    
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active
{
    background-color: #bf6516;
}

.btn-full:hover,
.btn-full:active
{
    background-color: #bf6516;
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active
{
    background-color: #bf6516;
    color: #fff;
}

.but
{
    border: 1px solid #e67e22;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #e67e22;
}


/*--------------------*/
/* icon  ----------*/
/*--------------------*/
.icon-big
{
    font-size: 250%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}


/*--------------------*/
/* nav  ----------*/
/*--------------------*/
.logo
{
    height: 110px;
    width: auto;
    float: left;
    margin-top: 10px;

}

.main-nav
{
    float: right;
    margin-top: 35px;
}

.main-nav li
{
    display: inline-block;  
    margin-left: 10px;
}

.main-nav li a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2pxvh;
}

.main-nav li a:link,
.main-nav li a:visited
{   
    display: inline-block;
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #bf6516;
}


/*--------------------*/
/* features  ----------*/
/*--------------------*/
.long-copy
{
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 40px;
}

.clearfix:after
{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.box p
{
    font-size: 85%;
    line-height: 145%;
}

.clearfix 
{
    zoom: 1;
}


/*--------------------*/
/* meals  ----------*/
/*--------------------*/
.section-meals
{
    padding: 0;
}

.meals-showcase
{
    list-style: none;
    width: 100%;
}

.meals-showcase li
{
    display: block;
    float: left;
    width: 33.33%;
}

.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img
{
    opacity: .8;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s;
}

.meal-photo img:hover
{
    transform: scale(1.03);
    opacity: 1;
}


/*--------------------*/
/* how it works  ----------*/
/*--------------------*/
.section-steps
{
    background-color: #ecf0f1;
}

.steps-box:first-child
{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child
{
    padding-left: 3%;
    margin-top: 50px;
}

.app-screen
{
    width: 50%;
    height: 50;
}

.works-step
{
    margin-bottom: 50px;
}

.works-step div
{
    color: #e67e22;
    border: 2px solid #e67e22 ;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img
{
    height: 53px;
    width: auto;
    margin-right: 10px;
}


/*--------------------*/
/* sign up  ----------*/
/*--------------------*/
.section-plans
{
    background-color: white;
}

.plan-box
{
    background-color: #ecf0f1;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(221, 221, 221);
}

.plan-box ul
{
    list-style: none;
}

.plan-box ul li
{
    padding: 5px 0;
    font-size: 80%;
}

.plan-box div
{
    padding: 15px;
    border-bottom: 1px solid white;
}

.plan-box div:first-child
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div:last-child
{
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.plan-price
{
    font-size: 200%;
    margin-bottom: 10px;
    font-weight: 300;
    color:  #e67e22;
}

.plan-price span
{
    font-size: 45%;
    font-weight: 300;
}

.plan-price-meal
{
   font-size: 95%;
}


/*--------------------*/
/* forms  ----------*/
/*--------------------*/
.section-form
{
    background-color: #ecf0f1;
}

.contact-form
{
    width: 90%;
    margin: 0 auto;
}

input[type=text], 
input[type=email], 
input[type=password], 
select, 
textarea
{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
}

textarea
{
    height: 100px;
}

.check
{
    float: left;
}

input[type=checkbox]
{
    margin: 10px 5px 10px 0;
}

*:focus 
{
    outline: none;
}


/*--------------------*/
/* footer ----------*/
/*--------------------*/
footer
{
    background-color: #2d3436;
    padding: 40px 0;
}

.footer-nav
{
    list-style: none;
    float: left;
    font-size: 80%;
    
}

.social-links
{
    list-style: none;
    float: right;
    
}

.footer-nav li,
.social-links li
{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child
{
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited
{
    text-decoration: none;
    border: 0;
    color: #636e72;
    transition: color   0.2s;
}

.footer-nav li a:hover,
.social-links li a:active
{
    color: #b2bec3;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram
{
    transition: color 0.2s;
}

.ion-social-facebook:hover
{
    color: #3b5998;
}

.ion-social-twitter:hover
{
    color: #55acee;
}

.ion-social-googleplus:hover
{
    color: #dd4b39;
}

.ion-social-instagram:hover
{
    color: #e95950;
}

footer p
{
    color: #636e72;
    text-align: center;
    font-size: 70%;
    margin-top: 20px;
}

/*--------------------*/
/* modals*/
/*--------------------*/

/* The Modal (background) */
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content 
{
    position: relative;
    background-color:#ecf0f1;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close 
{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1 
{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2
{
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color:  #e67e22;
    text-decoration: none;
    cursor: pointer;
}

.close1:hover,
.close1:focus 
{
    color:  #e67e22;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,
.close2:focus 
{
    color:  #e67e22;
    text-decoration: none;
    cursor: pointer;
}

.modal-header
{
    padding: 2px 16px;
    background-color: white;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer 
{
    padding: 2px 16px;
    background-color: white;
    color: white;
}

